body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
}

header {
    text-align: center;
    padding: 80px 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 48px;
}


h2 {
    font-size: 28px;
    margin-top: 10px;
}

p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 40px auto;
    padding: 30px;
    max-width: 1000px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}